*{
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
button{
    font-size: 100px;
    color: azure;
    background: rgba(0,0,0,0.3);
    width: 50%;
    height: 50%;
    border-radius: 25px;
    border: navajowhite;
}